/* Global styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: white;
}

.transfer-screen {
  /* align-items: center; */
  padding: 10px;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
.header1 {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  width: 60%;
  padding: 10px 0;
}

.back-btn {
  background: none;
  border: none;
}

.back-btn img {
  width: 24px;
  height: 24px;
}

/* Amount Section */
.amount-section {
  text-align: center;
  margin: 40px 0;
}

.amount {
  width: 80%;
  font-size: 48px;

  align-items: center;
  display: flex;

  margin: auto;
  font-weight: bold;
}

/* Form Container */
.form-container {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  margin-top: 15%;
  /* position: absolute;
    bottom: 0%; */
  max-width: 500px;
  color: #000;
}
.am {
  font-size: 48px;
  border: none !important;
  background: none;
  color: black;
}
.am:active {
  border: none !important;
}
.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: -10px;
}

.input-group input {
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.swap-icon img {
  width: 50px;
  border-radius: 50%;
  height: 45px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.add-attachment-btn {
  display: flex;
  align-items: center;
  background: none;
  border: 1px dashed #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  justify-content: center;
  color: #ccc;
}

.add-attachment-btn img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/* Continue Button */
.continue-btn {
  background-color: black;
  color: white;
  padding: 15px;
  width: 100%;
  margin-left: 5%;
  max-width: 400px;
  border: none;
  border-radius: 10px;
  margin-top: 60px;

  /* position: absolute;
    bottom: 5%; */
}
