/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
/* Profile Header */
.profile-header {
  display: flex;
  font-family: "Poppins";
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/* Transaction History */
.history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-item p {
  margin: 0;
}

.positive {
  color: green;
  font-family: "Poppins";
}

.negative {
  color: red;
}
.ptag {
  position: absolute;
  right: 0;
}
.atag {
  position: absolute;
  left: 0;
}
.see-all {
  border: none;
  background-color: transparent;
  font-family: "Poppins";
  color: black;
  font-size: 20px;
}
